#aemlab-footer{
	background:#0174a9;
	color:#fff;
	padding:2rem 6rem 0;
    margin-top: 2rem;
}

#aemlab-footer a, #aemlab-footer h3, #aemlab-footer h4{
	color:#fff;
}

#aemlab-footer a{
	border-bottom:1px solid #959494;
	padding-bottom:2px;
}


#aemlab-footer a:after{
	content:'';
}

#aemlab-footer ul{
    margin-left:0;
}

#aemlab-footer ul li{
	list-style:none;
}

#aemlab-footer .text{
    padding: 0 2rem;
}

#footer-social{
    display:flex;
    position: relative;
    background:transparent;
    max-width:20rem;
    max-height:2rem;
    float: right;
}

#footer-social .image{
 max-width:2rem;
 max-height:2rem;
 margin:0 .25rem;
 padding: 0.25rem;
}

#footer-social .image .cmp-image{
    margin:0;
}

#footer-social a{
    border:0;
}