#aemlab-header {
	padding:0 6rem;
	background : #3D4750;
	margin-bottom: 2rem;
    flex: 1 1 auto;
    position: relative;
    width: auto;
    display: flex;
    align-items: stretch;
}

#aemlab-header >.text{
    padding:0;
    width:100%;
}



#aemlab-header .cmp-containera:after{
	content:'';
}

#aemlab-header #header-logo,
#aemlab-header #header-logo-center{
    flex: 1 1 auto;
    position: relative;
    width: auto;
    display: flex;
    margin:1rem 1rem 0 0;
}

#aemlab-header #header-logo-center{
	justify-content: center;
}

#aemlab-header #header-logo p, 
#aemlab-header #header-logo-center p,
#aemlab-header #header-logo p a,
#aemlab-header #header-logo-center p a{
    font-size:2rem;
    color:#026491;
    font-family:CustomFont;
}


#aemlab-header #header-logo p+p, #aemlab-header #header-logo p+p a,
#aemlab-header #header-logo-center p+p, #aemlab-header #header-logo-center p+p a{
    color:#E5710B;
}


#header-search .cmp-search__form {
    width: 15rem;
    margin: 0.5rem 1rem;
    padding-top: .5rem;
}

#header-search  .cmp-search__input {
    padding: 1rem 1rem 1rem 2.5rem;
}

#header-search .cmp-search__results {
    padding: .5rem;
    margin-top: 1rem;
    background: #f5f5f5;
    min-width: 15rem;
    max-height: 20rem;
    box-shadow: 0 0.3125rem 0.9375rem 0 rgb(231 68 68 / 25%);
}

#aemlab-header #header-navigation ul {
    position: relative;
    display: flex;
    margin: 1rem 2rem 0 30rem;
    overflow: hidden;
}

#aemlab-header #header-navigation ul li{
    list-style:none;
    padding:0 0.75rem;
    font-size:1rem;
}

#aemlab-header a:after{
	content:'';
}

#header-navigation a{
    color: #faf3f3;
}


#header-navigation a:hover{
    color: #E5710B;
}