h1,h2,h3,h4{
	color: #0174a9;
}

.cmp-text p{
	font-size:1rem;
}

.cmp-text--lead .cmp-text p{
	font-size: 1.2rem;
    line-height: 28px;
}

.cmp-text table{
    font-size:1rem;
    border-color:#0174a9;
}

.cmp-text table th{
    background:#0174a9;
    color:#fff;
    padding:1rem;
}

.cmp-text table td{
    padding:0.5rem;
}

.cmp-text a:after{
    content: ">";
    margin-left:5px;
    font-size: 20px;
    padding-top:10px;
}