.cmp-container--main-content>.cmp-container>.aem-Grid>.aem-GridColumn.aem-GridColumn--default--12{
    margin:0 5rem;
    max-width:85rem;
    background:#fff;
    padding: 1rem;
}

.cmp-container--main-content>.cmp-container>.aem-Grid>.cmp-container--full-width.aem-GridColumn.aem-GridColumn--default--12 {
    margin: 0;
    max-width: 100rem;
    padding: 1rem 0;
}

.cmp-container--main-content>.cmp-container>.aem-Grid>.cmp-container--full-width.aem-GridColumn.aem-GridColumn--default--12 .cmp-container>* {
    margin: 0 5rem;
    max-width: 85rem;
    padding: 1rem;
}


.cmp-container--font-white{
    color:#fff;
}


.cmp-container>.text,
.cmp-container>.title{
 	padding: 1rem;
}

.cmp-container--main-content ul li,
.cmp-container--main-content ol li:not(.cmp-tabs__tab):not(.cmp-breadcrumb__item){
    line-height:2rem;
    list-style:none;
    counter-increment: list-counter;
}
.cmp-container--main-content ul li::before,
.cmp-container--main-content ol li:not(.cmp-tabs__tab):not(.cmp-breadcrumb__item)::before {
  color: #0174a9;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
  font-size:1.2rem;
  margin-right:0.5rem
}

.cmp-container--main-content ul li::before{
  content: "\2022";
}

.cmp-container--main-content ol li:not(.cmp-tabs__tab):not(.cmp-breadcrumb__item)::before{
  content: counter(list-counter) ".";
}

.cmp-container--font-white ul li::before,
.cmp-container--font-white ol li::before {
    color:#fff;
}

.no-config-cac {
    text-align: center;
    background-color: #e1eaf5;
    padding: 20px;
}
