.cmp-tabs__tablist{
    margin:1rem 0;
    justify-content: center;
    border-bottom: solid 1px #0174a9;
    background: #0174a912;
}

.cmp-tabs__tab{
	color: #0174a9;
	padding:0.75rem 2rem;
	background:#0174a917;
	font-size:1.2rem;
}

.cmp-tabs__tab.cmp-tabs__tab--active{
	background: #0174a9;
    color: #fff;
    border-color: #0174a9;
    font-weight: 600;
}

.cmp-tabs__tabpanel{
    padding: 1rem 2rem;
}