<div id="${properties.id}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${properties.dropdown1}"
     class="cmp-json-dropdown">
    <div class="cmp-json-dropdown__content" data-sly-test="${hasContent}">
        <p><b>JSON Source : </b>/apps/aemlab/oneweb/concept/components/dropdown-ds-json/options.json</p>
        <p><b>Selected : </b>${hasContent}</p>
    </div>
</div>

<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-json-dropdown'}"></sly>