
<sly data-sly-use.data="com.community.aemlab.core.models.concept.CacXFModel">
    <sly data-sly-test="${!data.fragmentPath}">
        <p data-sly-test="${(wcmmode.edit)}" class="no-config-cac-xf">
        	${properties.noConfigLabel}
        </p>
    </sly>
    <sly data-sly-test="${data.fragmentPath && !wcmmode.disabled}">
      <!-- Fragment Path: /editor.html${data.fragmentPath} -->
    </sly>
    <sly data-sly-test=${data.fragmentPath}
         data-sly-resource="${@path=data.fragmentPath, selectors='content', wcmmode='disabled'}"></sly>
</sly>